:root {
  --x: 0px;
  --nameMinus: 0px;
}
body,
html,
.container {
  width: 100%;
  height: calc(100%);
}
body {
  margin: 0;
}
.nav {
  width: 100%;
  background: #fff;
  font-size: 0;
  border-bottom: 2px solid #ddd;
}
.nav-btn {
  height: 35px;
  font-size: 18px;
  padding: 6px;
}
.menucontent button {
  width: 100%;
  height: 35px;
  background: #fff;
  box-shadow: 0 0 1px 0 #222;
  transition: all 0.1s ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 0;
}
.menucontent button:hover {
  box-shadow: 0 0 1px 0px #222;
  background: #ddd;
}
.menucontent button:active {
  background: #bbb;
}
#openfile[style*="500px"] ~ .container {
  pointer-events: none;
  user-select: none;
}
.overlay{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #0000009f;
}
#openfile[style*="500px"] ~ .overlay {
  display: block;
}
#openfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  box-shadow: 0 0 6px 0 #222;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  transition: all ease-in 0.1s;
  z-index: 9999999999;
}
#openfile h1 {
  margin: 0;
  border-bottom: 3px #62e solid;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
* {
  transition: all ease-in 0.1s;
  font-family: Arial, Helvetica, sans-serif;
}
.file {
  width: 225px;
  height: 168px;
  padding: 8px;
  display: inline-block;
  margin: 8px 0 8px 0;
  user-select: none;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px 0 #888;
  transition: all ease-in 0.1s;
  word-wrap: break-word;
}
.file:hover {
  background: #f1f1f1;
  box-shadow: 0 0 4px 0px #888;
}

.file:active {
  background: #d1d1d1;
}
form{
  background: #fff;
  box-shadow: 0 0 12px 0 #666;
  width: 300px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 22px;
  text-align: center;
}

#f_cont{
  background: linear-gradient(45deg, #6622ee, #00aaff);
}
#f_action *{
  margin: 12px;
}
#f_action a{
  position: absolute;
  bottom: 22px;
  left: 22px;
}
#ham div{
  width: 35px;
  height: 3px;
  background: #222;
  margin: 6px 0;
}
#ham{
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 #333;
  padding: 8px;
  position: absolute;
  top: 15px;
  right: 5px;
}
#options {
  background-color: #fff;
  position: absolute;
  right: 55px;
  top: 55px;
  box-shadow: 0px 0px 3px 1px #555555;
  transition: all ease-in 0.1s;
  overflow: hidden;
}
#options #accName{
  border-bottom: 2px solid #6200ee;
}
button {
  width: 150px;
  padding: 16px;
  border-radius: 30px;
  background:#fff;
  border: none;
  outline: none;
  cursor: pointer;
  border: 3px solid #7d52ff;
}
button:hover {
  box-shadow: 0 0 1px 0px #222;
  background: #ddd;
}
button:active {
  background: #7d52ff;
  color: #fff;
}
form input {
  padding: 16px;
  width: 250px;
  font-size: 16px;
  margin: 12px;
  outline: 0;
  border: 0;
  background: #f1f1f1;
  border-radius: 4px;
}
@media (max-width:344px){
  form{
    width: calc(100% - 44px);
  }
  form input{
    width: -webkit-fill-available;
  }
}
form input:focus {
  border: #6200ee 3px solid;
}
.file * {
  pointer-events: none;
}

.file h3 {
  border-bottom: 2px solid #6200ee;
  margin: 0;
  margin-bottom: 5px;
}
#files {
  column-count: 2;
  width: 500px;
  overflow: hidden;
  height: 400px;
}
#file_btns {
  text-align: center;
}
#file_btns button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background: #ddd;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  outline: none;
}
#file_btns button:hover {
  background: #999;
  transform: scale(1.1);
}
.nav-btn {
  border: 0;
  border-right: 1px solid #aaa;
  background: #fff;
  height: 100%;
  outline: 0;
  font-weight: bold;
  border-radius: 1px;
  padding: 5px 12px 5px 12px;
  width: auto;
}

.nav-btn:hover {
  background: #9619e9bb;
}

#editor {
  resize: none;
  outline: 0;
  margin: 12px;
  width: calc(100% - 35px);
  height: calc(100% - 38px);
  font-size: 22px;
  font-family: cursive;
  padding: 5px;
  background: #eee;
  border: 1px solid #ddd;
}
#editor:focus {
  border: #6200ee 3px solid;
  background: #fff;
}
.main {
  width: 100%;
  height: calc(100% - 100px);
}
.main #name {
  padding: 12px;
  font-size: 28px;
  margin: 12px;
  outline: 0;
  width: calc(100% - (100px + var(--nameMinus)));
  border: 0;
  border: #aaa 1px solid;
  border-radius: 4px;
  text-align: center;
}

.main #name:focus {
  border: #6200ee 3px solid;
}
.menucontent {
  position: absolute;
  top: 38.646px;
  left: var(--x);
  background: white;
  width: 150px;
  height: 300px;
  border: 1px solid #eee;
  font-size: 20px;
  transition: none;
}
